#main.col-xs-12
  %h1 Listing category
  = link_to 'Create my category', new_category_path, class: 'btn btn-info'
  %table.table.table-hover
    %tr.info
      %th Category
      %th{align: "right"} Options
    - @categories.each do |category|
      %tr{"data-link" => category_path(category)}
        %td= category.name
        %td
          - if owner(category)
            = link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
