#main.col-xs-12
  %h1 Gallery
  .col-md-8.col-md-offset-2
    = render 'movies/tabs'
  %input#fileupload{ 'data-url' => movie_uploads_path(params[:movie_id]), multiple: 'multiple', name: 'file', type: 'file'}
  .file_uploader
  #container.row
    = render @uploads
  %div.pagination
    = paginate @uploads
:javascript
  $(function(){
    App3.init({uploadsGallery: true});
  });
